{% extends 'medapp/main.html' %}
{% load static %}
<!-- remember, the reason why we load static is to access files inside static folder -->


{% block content%}


<div class="checkout_pg_container">



    <div class="form-container1">
        <h2 class="form-title">Shipping Details</h2>
        <form action="" class="checkout-form">
            <div class="name_email_fields">

                <div class="input-line" id="checkout_name_div">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="checkout_nm_field" placeholder="First Name">
                </div>
                <div class="input-line" id="checkout_email_div">
                    <label for="name">Email</label>
                    <input type="text" name="name" id="checkout_em_field" placeholder="Last Name">
                </div>
            </div>

            <div class="name_email_fields" id="checkout-email-box">
                <div class="input-line" id="checkout_email_field">
                    <label for="name">Email</label>
                    <input type="text" name="name" id="checkout_email_field_child" placeholder="Email">
                </div>
            </div>

            <div class="name_email_fields" id="checkout-address-box">
                <div class="input-line" id="checkout-address-field">
                    <label for="name">Address</label>
                    <input type="text" name="name" id="checkout_address_field_child" placeholder="Address">
                </div>
            </div>

            <div class="name_email_fields">

                <div class="input-line" id="checkout_name_div">
                    <label for="name">Address</label>
                    <input type="text" name="name" id="checkout_nm_field" placeholder="Street">
                </div>
                <div class="input-line" id="checkout_email_div">
                    <label for="name">City</label>
                    <input type="text" name="name" id="checkout_em_field" placeholder="City">
                </div>
            </div>

            <div class="name_email_fields">

                <div class="input-line" id="checkout_name_div">
                    <label for="name">State</label>
                    <input type="text" name="name" id="checkout_nm_field" placeholder="Your State">
                </div>
                <div class="input-line" id="checkout_email_div">
                    <label for="name">Zipcode</label>
                    <input type="text" name="name" id="checkout_em_field" placeholder="Your Zipcode">
                </div>
            </div>


            
            
            <input type="button" value="Complete purchase">
        </form>
    </div>



    <div class="form-container2">
        <button class="back-to-cart-button">Back to Cart</button>
        <h2 class="form-title">Order Summary</h2>

        <div class="checkout-part-container">
            <div class="checkout-part">
                <img src="{% static 'images/product_images/ibuprofen.jpg' %}" alt="" height="110px" widht="160px">
            </div>
            <div class="checkout-part">
                <p>Product 1</p>
            </div>
            <div class="checkout-part">
                <p>$20</p>
            </div>
            <div class="checkout-part">
                x2
            </div>
        </div>

        <div class="items-and-total">
            <p>Items: 2</p>
            <p>Total: 40$</p>
        </div>
       
    </div>




</div>

{% endblock content %}